:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    --notes-gap: 16px;
    --string-gap: 12px;
    --fret-size: 40px;
    --string-color: #454545;
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

main {
    margin: 0 auto;
}